.placeholder-container {
  background-color: #f0ad4e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.placeholder-container h1 {
  color: white;
  font-size: 5em;
}

@media screen and (max-width: 480px) {
  .placeholder-container {
    height: 100vh;
    padding: 0;
  }
}
